form{
  display: flex;
  flex-direction: column;
  max-width: 240px;
}

button{
  margin-top: 16px;
}

section{
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.amount{
  padding-left: 8px;
}

