<h3>Orders</h3>


<form [formGroup]="form" (ngSubmit)="order()">
  <mat-form-field>
    <mat-label for="created">Choose a date</mat-label>
    <input matInput formControlName="created" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div formGroupName="control">
    <mat-form-field>
      <mat-label for="name">Name of product</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label for="price">Price</mat-label>
      <input matInput type="number" formControlName="price" step="0.50" min="0">
    </mat-form-field>
    <mat-form-field>
      <mat-label for="amount">Amount</mat-label>
      <input matInput type="number" formControlName="amount">
    </mat-form-field>
  </div>


  <mat-form-field>
    <mat-label for="email">Email</mat-label>
    <input matInput formControlName="email" type="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label for="tel">Phone number</mat-label>
    <input matInput formControlName="tel" type="tel" pattern="[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}">
    <mat-hint>Format required: 0612345678</mat-hint>
  </mat-form-field>

  <button type="submit">Order</button>
</form>