<aside>
<mat-nav-list>
  <mat-list-item>
    <a routerLink="login">Log In</a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="signup">Sign Up</a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="user">User</a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="product">Product</a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="order">Order</a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="giftcard">Giftcard</a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="array">Form Array</a>
  </mat-list-item>
</mat-nav-list>

</aside>

<section>
  <router-outlet></router-outlet>
</section>