<h3>Signup</h3>

<main>
  <form [formGroup]="form" (ngSubmit)="signup()">
    <label for="email">Email address</label>
    <input type="text" id="email" formControlName="email" required="required">
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" required="required">
    <label for="confirm">Confirm Password</label>
    <input type="password" id="confirm" formControlName="confirm" required="required">
    <button type="submit">Login</button>
  </form>
</main>

<p>Email list</p>

<ng-container *ngFor="let login of logins">
  <p>{{login.email}}</p>
</ng-container>

