<h3>Products</h3>


<form [formGroup]="form" (ngSubmit)="sell()">
  <mat-form-field>
    <mat-label id="name">Name</mat-label>
    <input formControlName="name" matInput type="text">
  </mat-form-field>

  <mat-form-field>
    <mat-label id="description">Description</mat-label>
    <textarea formControlName="description" matInput maxlength="300"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label id="price">Price</mat-label>
    <input matInput formControlName="price" type="number" min="0" step="0.01" pattern="^\d*(\.\d{0,2})?$">
  </mat-form-field>

  <mat-form-field>
    <mat-label id="type">Type</mat-label>
    <mat-select formControlName="types">
      <mat-option value="fruit">Placeholder</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label id="stock">Stock Available</mat-label>
    <input formControlName="stock" matInput type="number" min="0" step="1">
  </mat-form-field>

  <button type="submit" mat-button color="primary">Add product</button>
</form>