<h3>To do list</h3>

  <div *ngFor="let todo of formArray.controls, let i = index">
    <div [formGroup]="$any(todo)">
      <input formControlName="checked" type="checkbox">
      <mat-form-field>
        <mat-label for="todo">Add to do</mat-label>
        <input formControlName="text" matInput type="text">
        <button matSuffix mat-icon-button (click)="remove(i)">
          <mat-icon>remove</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <button mat-flat-button color="primary" (click)="add()">Add</button>